<!-- Default form login -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <% include('views/partials/head.ejs') %>
  
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  
</head>
<body>
  <header>
  <%- include('views/partials/header.ejs') %>
  </header>
  

<footer>
      
    <%- include('views/partials/footer.ejs') %>
  </footer>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/appls.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  
</body>

</html>
<!-- Default form login -->